body {
	display: flex;
	margin: 0px;
}

table {
	display: flex;
	justify-content: center;
	align-itmes: center;
	width: 100vw;
	text-align: center;
}

td {
	padding: 5px;
}

h1 {
	font-family: 'Courier New', Courier, monospace;
}

.small {
	height: 100%;
	width: 10vw;
}

.smaller {
	height: 100%;
	width: 5vw;
}

.big {
	height: 100%;
	width: 20vw;
}
.success-buton {
	display: block;
	width: 100%;
	border: none;
	background-color: #04AA6D;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
}
.err-button {
	width: 100%;
	height: 100%
}

.error-options {
	display: none;
}
.medication {
	text-align: left;
}
.bleu {
	background: lightblue;
}
.rouge {
	background: red;
}
.orange {
	display: none;
	background: orange;
}
.requested {
	font-size: 1.5vh;
	font-style: italic;
	font-weight: bold;
}
#table-head td {
	font-weight: bold;
}
#first-row td {
	border: 0px;
	font-weight: bold;
}
#break {
	height: 1vh;
	background-color: black;
	padding: 0px;
}
#break-blank {
	height: 0.5vh;
	background-color: white;
	padding: 0px;
}
#email {
	text-align: center;
}
