body {
	display: flex;
	padding: 0px;
	margin: 0px;
}

table {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	text-align: center;
	font-size: 1.5vw;
	padding: 0px;
	margin: 0px;	
}

td {
	padding: 5px;
}

h1 {
	font-family: 'Courier New', Courier, monospace;
}

.small {
	height: 100%;
	width: 10%;
}
.smaller {
	height: 100%;
	width: 5%;
}
.big {
	height: 100%;
	width: 20%;
}
.small-break {
	padding: 0px;
	margin: 0px;
	height: 1px;
}
.success-button {
	height: 100%;
}
.button {
	background-color: white;
	display: block;
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;	
}
.button-td {
	padding: 0px;
	margin: 0 auto;
	height: 40px;
	width: 100px;
}
.error-options {
	display: none;
}
.medication {
	text-align: left;
}
.bleu {
	background: lightblue;
}
.rouge {
	background: red;
}
.orange {
	display: none;
	background: orange;
}
.col-change {
	font-size: 1.5vw;
	font-style: italic;
	font-weight: bold;
	border: 1px;
}
.requested {
	font-size: 2vh;
}
#table-head td {
	font-weight: bold;
}
#first-row td {
	border: 0px;
	font-weight: bold;
}
#break {
	height: 1vh;
	background-color: black;
	padding: 0px;
}
#break-blank {
	height: 0.5vh;
	background-color: white;
	padding: 0px;
}
#email {
	text-align: center;
}
