{% extends 'base.html' %}

{% block head %}

<title>TASK MASTER</title>

{% endblock %}

{% block body %}

<div class='content'>
	<table border='1px'>
		<th colspan="3"><h1>Task Master</h1></th>

		{% if tasks|length < 1 %}

		<tr><td><h4>There are no tasks, Create one below!</h4></td></tr>
		
		{% else %}

		<tr>
			<th>Task</th>
			<th>Added</th>
			<th>Actions</th>
		</tr>
		{% for task in tasks %}
			<tr>
				<td>{{ task.content }}</td>
				<td>{{ task.date_created.date() }}</td>
				<td>
					<a href="/delete/{{task.id}}">Delete</a>
					<br>
					<a href="/update/{{task.id}}">Update</a>
				</td>
			</tr>
			</tr>
		{% endfor %}
		{% endif %}
		<tr>
			<td colspan="3">
				<form action="/" method='POST'>
					<input type='text' name='content' id='content'>
					<input type='submit' value='Add Task'>
				</form>
			</td>
		</tr>
	</table>

				
</div>

{% endblock %}