{% extends 'base.html' %}

{% block head %}

<title>Footfallprints</title>

{% endblock %}

{% block body %}



<div class='content'>
	<table border='1px'>
		

		{% if scripts|length < 1 %}

			<th><h1>Foot-fall-prints</h1></th>
			<tr><td><h4>You have completed all scripts.</h4></td></tr>

		{% else %}

			<th colspan="8"><h1>Foot-Prints</h1></th>
			<tr id='table-head'>
				<td class='small' id='dob'>D.O.B</td>
				<td class='big' id='name'>Name</td>
				<td class='big' id='medication' colspan='2'>Medication</td>
				<td class='small' id='dosage'>Dosage</td>
				<td class='small' id='quantity'>Quantity</td>
				<!--<td class='small' id='date'>Date</td>
				<td class='small' id='success'>Done</td>
				<td class='small' id='error'>Error</td>-->
			</tr>

			{% for script in scripts %}

				{# if new patient add header #}
				{% if loop.index0 == 0 %}
					<tr id='break-blank'><td colspan='8'></td></tr>
					<tr id='break'><td colspan='8'></td></tr>	
					<tr id='first-row'>
						<td>{{script[1].dob}}</td>
						<td>{{script[1].full_name}}</td>
						<td class='email' colspan='2'>{{script[1].email}}</td>
						<td colspan='2'>{{script[1].date}}</td>
						<!--<td class='small' id='success-button'><button/>All Done</td>
						<td class='small' id='error-button'><button/>X</td>	-->
					</tr>
					<tr id='break'><td colspan='8'></td></tr>

				{% elif (script[1].full_name != scripts[script[0]-1][1].full_name) or (script[1].dob != scripts[script[0]-1][1].dob) %}
				
					<tr id='break-blank'><td colspan='8'></td></tr>
					<tr id='break'><td colspan='8'></td></tr>	
					<tr id='first-row'>
						<td>{{script[1].dob}}</td>
						<td>{{script[1].full_name}}</td>
						<td class='email' colspan='2'>{{script[1].email}}</td>
						<td colspan='2'>{{script[1].date}}</td>
						<!--td class='small' id='success-button'><button/>All Done</td>
						<td class='small' id='error-button'><button/>X</td>-->
					</tr>
					<tr id='break'><td colspan='8'></td></tr>
				{% endif %}
				

				{# load prescriptions #}
				<tr>
					<td></td>
					<td></td>
					<td class='smaller'>{{ script[0] }})</td>
					<td class='medication'>{{ script[1].medication }}</td>
					<td>{{ script[1].dosage }}</td>
					<td>{{ script[1].quantity }}</td>
					<!--<td>{{ script[1].date }}</td>
					<td class='small' id='success-button'><button/>Done</td>
					<td class='small' id='error-button'><button/>X</td>-->
				</tr>

		{% endfor %}
<!--
		<tr>
			<th>Task</th>
			<th>Added</th>
			<th>Actions</th>
		</tr>
		{% for task in tasks %}
			<tr>
				<td>{{ task.content }}</td>
				<td>{{ task.date_created.date() }}</td>
				<td>
					<a href="/delete/{{task.id}}">Delete</a>
					<br>
					<a href="/update/{{task.id}}">Update</a>
				</td>
			</tr>
			</tr>
		{% endfor %}
		{% endif %}

		<tr>
			<td colspan="3">
				<form action="/" method='POST'>
					<input type='text' name='content' id='content'>
					<input type='submit' value='Add Task'>
				</form>
			</td>
		</tr>-->
	</table>

				
</div>

{% endblock %}